/**
 * sass関数
 */
@use "sass:math";
@use "./variables" as *;

// color
@function color($key) {
  @return map-get($color, $key);
}

// breakpoint
@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}

/**
 * font size
 * @param 指定したいピクセル数を入力
 * @return 単位をremに変換し出力
 */
@function font($pixel) {
  @return (math.div($pixel, $base-font)) * 1rem;
}

// aspect ratio
@function aspect($key) {
  @return map-get($aspectRatio, $key);
}

// radius (円形)
@function radius($key) {
  @return map-get($radius, $key);
}

// interval (間隔)
@function interval($pixel) {
  @return $base-rem * $pixel; // 1/2rem × $pixel
}

// pixel (固定値)
@function pixel($pixel) {
  @return $base-pixel * $pixel; // 8px × $pixel
}

// デバイス幅 (displayマップ)
@function device($key) {
  @return map-get($display, $key);
}

// パーツ固定値
@function width($key) {
  @return map-get($width, $key);
}


/**
 * アニメーション keyframes
 */

@keyframes loading {
  0% {
    height: 0;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 0;
  }
}

@keyframes fadeoutTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}

@keyframes load-bar {
  50% {
    width: 3%;
    opacity: .1;
  }
}

// メインビジュアルのスライダーアニメーション
@keyframes main-visual-slider {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
    transform: scale(1.18);
  }
}

@keyframes rotate-scale {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(180deg);
  }
  100% {
    transform: scale(1.0) rotate(360deg);
  }
}


/**
 * common mixin (サイト内でどこでも使う可能性がある)
 */

@mixin mq($breakpoint: md) {
  @media #{map-get($media, $breakpoint)} {
    @content;
  }
}

@mixin hover {
  &:hover {
    @include mq(md) {
      @content;
    }
  }
}

// flexbox
@mixin flex($flow: row nowrap, $justify-content: flex-start, $align-items: stretch, $gap: 0) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// position 一括指定
@mixin position($type: static, $t: auto, $r: auto, $b: auto, $l: auto, $z: auto) {
  position: $type;

  @if $type ==absolute or $type ==fixed or $type ==sticky {
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
    z-index: $z;
  }
}

// ぼかし
@mixin blur($blur, $background: transparent, $before-background-color: inherit) {
  position: relative;
  background: $background;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: '';
    display: block;
    background: $before-background-color;
    width: calc(100% + $blur);
    height: calc(100% + $blur);
    @include position(absolute, 0, 0, 0, 0);
    filter: blur($blur);
    z-index: -1;
  }
}

// image trimming (imgタグの一つ親のタグに指定する)
@mixin trimming($aspect) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: $aspect;
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// グラデーション
@mixin gradient(
  $start-color: #091e2f,
  $end-color: #030A10,
  $orientation: default,
  $start-position: 0%,
  $end-position: 100%
  ) {
  background: $start-color;

  // 垂直グラデーションの場合
  @if $orientation ==vertical {
    background: -moz-linear-gradient(top, $start-color $start-position, $end-color $end-position);
    background: -webkit-gradient(linear, left top, left bottom, color-stop($start-position, $start-color), color-stop($end-position, $end-color));
    background: -webkit-linear-gradient(top, $start-color $start-position, $end-color $end-position);
    background: -o-linear-gradient(top, $start-color $start-position, $end-color $end-position);
    background: linear-gradient(to bottom, $start-color $start-position, $end-color $end-position);
  }

  // 水平グラデーションの場合
  @else if $orientation ==horizontal {
    background: -moz-linear-gradient(left, $start-color $start-position, $end-color $end-position);
    background: -webkit-gradient(linear, left top, right top, color-stop($start-position, $start-color), color-stop($end-position, $end-color));
    background: -webkit-linear-gradient(left, $start-color $start-position, $end-color $end-position);
    background: -o-linear-gradient(left, $start-color $start-position, $end-color $end-position);
    background: linear-gradient(to right, $start-color $start-position, $end-color $end-position);
  }

  // 斜め
  @else if $orientation ==diagonal {
    background: -moz-linear-gradient(45deg, $start-color $start-position, $end-color $end-position);
    background: -webkit-gradient(linear, right top, left bottom, color-stop($start-position, $start-color), color-stop($end-position, $end-color));
    background: -webkit-linear-gradient(45deg, $start-color $start-position, $end-color $end-position);
    background: -o-linear-gradient(45deg, $start-color $start-position, $end-color $end-position);
    background: linear-gradient(to top right, $start-color $start-position, $end-color $end-position);
  }

  @else {
    background: -moz-radial-gradient(center, ellipse cover, $start-color $start-position, $end-color $end-position);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($start-position, $start-color), color-stop($end-position, $end-color));
    background: -webkit-radial-gradient(center, ellipse cover, $start-color $start-position, $end-color $end-position);
    background: -o-radial-gradient(center, ellipse cover, $start-color $start-position, $end-color $end-position);
    background: radial-gradient(ellipse at center, $start-color $start-position, $end-color $end-position);
  }
}

$angle-down: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 5 14 14" fill="%2310334e"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>';
$arrow-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="M0 0h24v24H0z" fill="none"/><path fill="%23f2f2f2" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>';
$arrow-left: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="M0 0h24v24H0z" fill="none"/><path fill="%23f2f2f2" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>';
$arrow-right-darkblue: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="M0 0h24v24H0z" fill="none"/><path fill="%2310334e" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>';
$arrow-left-darkblue: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="M0 0h24v24H0z" fill="none"/><path fill="%2310334e" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>';

// swiperボタン スタイル
@mixin swiper-button($color: white) {
  .swiper-button {
    &-next,
    &-prev {
      border: 1px solid color($color);
    }

    @if $color == darkblue {
      &-next {
        background: url('data: image/svg+xml;utf8,#{$arrow-right-darkblue}') center center / calc(2.5rem / 2) no-repeat;
      }

      &-prev {
        background: url('data: image/svg+xml;utf8,#{$arrow-left-darkblue}') center center / calc(2.5rem / 2) no-repeat;
      }
    } @else {
      &-next {
        background: url('data: image/svg+xml;utf8,#{$arrow-right}') center center / calc(2.5rem / 2) no-repeat;
      }

      &-prev {
        background: url('data: image/svg+xml;utf8,#{$arrow-left}') center center / calc(2.5rem / 2) no-repeat;
      }
    }
  }
}
