/**
 * sass変数をVueコンポーネントでグローバルに扱えるようにする
 */
@use "variables" as *;
@use 'modules' as *;

@forward "variables";
@forward "modules";

@font-face {
  font-family: 'bangers';
  src: url('../font/Bangers-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'zen';
  src: url('../font/ZenKurenaido-Regular.ttf');
}
