/**
 * sass変数をVueコンポーネントでグローバルに扱えるようにする
 */
@use "variables" as *;
@use 'modules' as *;

@forward "variables";
@forward "modules";

@font-face {
  font-family: 'bangers';
  src: url('../font/Bangers-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'zen';
  src: url('../font/ZenKurenaido-Regular.ttf');
}

* {
  font-size: 1rem;
}

html {
  font-size: clamp(0.875rem, 0.75vw + 0.5rem, 1.5rem);
}

body {
  width: 100vw;
  color: color(white);
  font: 1rem/1.5 arial;
  overflow-x: hidden;
}

.container {
  width: auto;
  max-width: none;
  margin-right: - 5vw;
  margin-left: - 5vw;
}
